/*--------------------------------------------------------------
6. Icon Box
----------------------------------------------------------------*/
.container-bg{
  background-image:url("../images/background.jpg");
  background-size: cover;
  min-height: 418px;
  text-align: center;
  padding-bottom: 145px;
}
.container-bg h1{
  padding: 20px;
  color: #fff;
  
}

.container-bg p{
  color: #e1effd;
}
.container-bg img{
  padding: 23px 0px 0px 0px;
}
.content h3{
  padding: 30px;
  text-align:center;
  margin: 20px;
}

.form-bg{
    background: #fff;
    width: 55%;
    margin: auto;
    text-align: center;
    padding: 30px;
    position: relative;
    height: 200px;
    border-radius: 41px;
    box-shadow: 2px 3px 13px #c6e1ff;
    margin-top: -100px;
}
.form-bg p{
  font-size: 20px;
  font-weight: 500;
  padding: 16px 0px 5px 0px;
  font-size: 20px;
  font-weight: 500;
  color: #5d5d5d;
}

.iconbox.iconbox-style1 {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 60px 40px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;
  }
  
  
  .iconbox.iconbox-style1:hover {
    background-color: #007aff;
  }
  
  .iconbox.iconbox-style1:before,
  .iconbox.iconbox-style1:after,
  .iconbox-testimonial.iconbox-style1 .iconbox-testimonial-text:before,
  .iconbox-testimonial.iconbox-style1 .iconbox-testimonial-text:after {
    content: '';
    width: 245px;
    height: 245px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.1;
    position: absolute;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0;
  }
  
  .iconbox.iconbox-style1:before {
    top: -150px;
    right: -150px;
  }
  
  .iconbox.iconbox-style1:after {
    left: -150px;
    bottom: -150px;
  }
  
  .iconbox.iconbox-style1:hover:before {
    opacity: 0.08;
    top: -65px;
    right: -65px;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  
  
  .iconbox.iconbox-style1:hover:after{
    opacity: 0.08;
    left: -65px;
    bottom: -65px;
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  
  .iconbox.iconbox-style1 .iconbox-icon {
    margin-bottom: 25px;
    position: relative;
    color: #007aff;
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 60px;
    line-height: 1em;
  }
  
  .iconbox.iconbox-style1:hover .iconbox-icon {
    color: #fff;
  }
  
  .iconbox.iconbox-style1 .iconbox-title {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #484848;
  }
  
  .iconbox.iconbox-style1:hover .iconbox-title {
    color: #fff;
  }
  
  .iconbox.iconbox-style1 .iconbox-text {
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .iconbox.iconbox-style1:hover .iconbox-text {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .iconbox.iconbox-style1 .iconbox-btn {
    margin-bottom: -8px;
    position: relative;
    z-index: 1;
  }
  
  .iconbox.iconbox-style1:hover .iconbox-btn {
    color: #fff;
  }
  
  .iconbox.iconbox-style1:hover .iconbox-btn.iconbox-color2 i:after {
    background-color: #fff;
  }
  
  .iconbox.iconbox-style1.iconbox-type1 {
    padding: 40px 30px;
  }
  
  .iconbox.iconbox-style1.iconbox-type1 .iconbox-text {
    margin-bottom: -6px;
  }
  
  .iconbox.iconbox-style1.iconbox-type1:before,
  .iconbox.iconbox-style1.iconbox-type1:after {
    width: 210px;
    height: 210px;
  }
  
  .iconbox.iconbox-style1.iconbox-type2 .iconbox-icon {
    height: 75px;
    width: 75px;
    background-color: rgba(0, 122, 255, 0.1);
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .iconbox.iconbox-style1.iconbox-type2 {
    background-color: transparent;
  }
  
  .iconbox.iconbox-style1.iconbox-type2:hover .iconbox-icon {
    background-color: #007aff;
  }
  
  .iconbox.iconbox-style1.iconbox-type2:hover .iconbox-title {
    color: #222;
  }
  
  .iconbox.iconbox-style1.iconbox-type2:hover .iconbox-text {
    color: #666;
  }
  
  .iconbox.iconbox-style1.iconbox-type2:hover .iconbox-btn {
    color: #007aff;
  }
  
  .iconbox.iconbox-style1.iconbox-type2:hover .iconbox-btn.iconbox-color2 i:after {
    background: #007aff;
  }
  .iconbox.iconbox-style1.iconbox-type2:hover img {
    filter: brightness(0) invert(1);
}
  
  .iconbox.iconbox-style1.iconbox-type2 {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .iconbox.iconbox-style1.iconbox-type2:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0px 0px 25px 0px rgba(207, 207, 207, 0.4);
    box-shadow: 0px 0px 25px 0px rgba(207, 207, 207, 0.4);
  }
  
  .iconbox.iconbox-style1.iconbox-type2:before,
  .iconbox.iconbox-style1.iconbox-type2:after {
    background: #007aff;
  }
  .jumbotron{
    background: #007aff;
    padding: 44px;
    margin: 0px;
  }
  .jumbotron a{
    background: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 11px 33px;
    color: #007aff;
  }
  .jumbotron a:hover{
    color: #007aff;
    text-decoration: none;
    background: #cee8ff;
  }
  